.row {
  margin-left: 20px;
  color: white;
}
.scrollContainer {
  width: 50%;
}
.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
